@font-face {
  font-family: 'ABC_Areal';
  src: url('~/assets/fonts/ABC_Areal/ABCArealVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BAC_Arizona';
  src: url('~/assets/fonts/BAC_Arizona/ABCArizonaFlareTrial-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
