@use "font-import";

@use "css-var";

* {
  box-sizing: border-box;
  text-box: auto;
  text-box-edge: cap alphabetic;
  //text-box-edge: ex alphabetic;
  //border: solid 1px red;
}
input {
  text-box-trim: none;
}


html {
  margin: 0;
  padding: 0;
  font-family: 'ABC_Areal', sans-serif;
  font-size: var(--v-baseline--lineheight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0 var(--v-gutter--half);
  font-size: var(--v-font--size--base);
  line-height: var(--v-font--lineheight--base);
}





/**
  TYPOGRAPHY
 */

h1, .v-font-h1 {
  text-transform: uppercase;
  margin-top:       calc( var(--v-font--lineheight--base) * 2 );
  margin-bottom:    calc( var(--v-font--lineheight--base) * 2 );
  font-size:        calc( var(--v-font--size--base)       * 5 );
  line-height:      calc( var(--v-font--lineheight--base) * 5 );
  font-family: 'BAC_Arizona', serif;
  font-weight: 400;
}

h2, .v-font-h2 {
  margin-top:       calc( var(--v-font--lineheight--base) * 1 );
  margin-bottom:    calc( var(--v-font--lineheight--base) * 1 );
  font-size:        calc( var(--v-font--size--base)       * 2 );
  line-height:      calc( var(--v-font--lineheight--base) * 2 );
  font-family: 'BAC_Arizona', serif;
  font-weight: 400;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h3, .v-font-h3 {
  margin-top:       calc( var(--v-font--lineheight--base) * 1 );
  margin-bottom:    calc( var(--v-font--lineheight--base) * 1 );
  font-size:        calc( var(--v-font--size--base)       * 1 );
  line-height:      calc( var(--v-font--lineheight--base) * 1 );
  font-family: 'BAC_Arizona', serif;
  font-weight: 500;
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h4, .v-font-h4 {


  a {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-top:       calc( var(--v-font--lineheight--base) * 1 );
  margin-bottom:    calc( var(--v-font--lineheight--base) * 1 );
  font-size:        var(--v-font--size--base);
  line-height:      var(--v-font--lineheight--base);
  max-width: 25em;
}

.v-font-small {
  font-size:        calc( var(--v-font--size--base)       /3*2 );
  line-height:      calc( var(--v-font--lineheight--base) /3*2 );
  margin-top:      calc( var(--v-font--lineheight--base) /3*2 );
  margin-bottom:      calc( var(--v-font--lineheight--base) /3*2 );
  font-variation-settings: 'wght' 400;
  opacity: .9;
}

h5 {
  @extend .v-font-small;
  font-family: 'BAC_Arizona', serif;
  font-weight: 500;
  text-transform: uppercase;
}


/**
  UI
 */

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

/**
  GRID
 */

.v-remove-last-and-first-child-margin {
  > * {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

}

.v-page-content {

  > * {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
  }
}

/**
  FORM
 */

.v-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--v-gutter--half);

  button {
    padding: 0;
  }

  input {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    font-size: var(--v-font--size--base);
    line-height: var(--v-font--lineheight--base);
    letter-spacing: inherit;
    color: inherit;

    &.v-form__input--font-small {
      @extend .v-font-small;
      margin: 0;
    }

    &::placeholder {
      color: var(--v-color-black);
    }
  }

  button[type=submit] {
    font-size: var(--v-font--size--base);
    line-height: var(--v-font--lineheight--base);
    background: transparent;
    display: inline-block;
    border: none;
  }
}
